.c-brand{

    &__desktop{

        @include brand-font-style;

        position: absolute;
        left: 15px;
    
    }

    &__phone{

        @include brand-font-style;

        margin-right: auto;
        margin-left: 15px;

        &:hover{
            text-decoration: none;
            color: black;
        }



    }

    @media (min-width: 992px) {
        &__phone {
            display: none;
        }

    }

    
    @media (max-width: 992px) {

        &__desktop {
            display: none;
        }
    }
}