.c-brand{

    &__desktop{

        @include brand-font-style;

        position: absolute;
        left: $m-sm;
    
    }

    &__phone{

        @include brand-font-style;

        margin-right: auto;
        margin-left: $m-sm;

        &:hover{
            text-decoration: none;
            color: $watermelon;
        }



    }

    @media (min-width: $bootstrap-lg) {
        &__phone {
            display: none;
        }

    }

    
    @media (max-width: $bootstrap-lg) {

        &__desktop {
            display: none;
        }
    }
}