/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blood;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $watermelon; 
  }