@keyframes fadeInTop {
    0% {
        transform: translateY(-50px);
        opacity: 0%;
    }
     
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }  
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(50px);
        opacity: 0%;
    }
     
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }  
}

@keyframes fadeInRight {
    0% {
        transform: translateX(50px);
        opacity: 0%;
    }
     
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }  
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0%;
    }
     
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }  
}

@keyframes float {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(25px);
    }
     
    100% {
        transform: translateY(-25px);
    }
}