@mixin brand-font-style {

    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;

    &:hover{
        text-decoration: none;
        color: black;
    }
    
}

@mixin not-draggable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}