@mixin brand-font-style {

    text-decoration: none;
    color: $watermelon;
    font-size: 20px;
    font-weight: bold;

    &:hover{
        text-decoration: none;
        color: $watermelon;
    }
    
}

@mixin not-draggable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin underline {
    text-decoration: none;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s !important;

    &:hover, &:focus{
        background-size: 100% 2px;
    }
}

@mixin center{
    display: flex;
    justify-content: center;
}

@mixin center-column{
    flex-direction: column;
    display: flex;
    align-items: center;
}

@mixin center-full{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-column-full{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}