@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
  }

$phone: 450px;
$tablet: 750px;
$desktop: 1366px;

$bootstrap-lg: 992px;

$night: #022E39;
$sea: #044855;
$lobster: #793F4E;
$blood: #C0424E;
$watermelon: #D94B58;

$m-sm: 15px;
$m-md: 25px;
$m-lg: 32px;
$m-xl: 64px;
$m-xxl: 128px;