@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
  }

$phone: 450px;
$tablet: 750px;

$bootstrap-lg: 992px;

$night: #022E39;
$sea: #044855;
$lobster: #793F4E;
$blood: #C0424E;
$watermelon: #D94B58;